In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [17]:
df = pd.read_csv('use_NHPC.csv',header=None,index_col=[0])

In [18]:
dataset = df.values
dataset = dataset.astype('float32')

In [19]:
scaler = MinMaxScaler(feature_range=(0, 1))
dataset = scaler.fit_transform(dataset)

In [21]:
x_d=[]
y_d=[]
for i in dataset:
    x_d.append(i[1])
    y_d.append(i[0])

In [24]:
x_d = np.array(x_d)
y_d = np.array(y_d)

In [25]:
# x = (df[2].values[:500]).reshape(500,1)
x = (x_d[:500]).reshape(500,1)
# y= (df[1].values[:500]).reshape(500,1)
y = (y_d[:500]).reshape(500,1)
# x_t = (df[2].values[500:]).reshape(47,1)
x_t = (x_d[500:]).reshape(47,1)
# y_t = (df[1].values[500:]).reshape(47,1)
y_t = (y_d[500:]).reshape(47,1)

In [26]:
x_train = np.reshape(x, (x.shape[0], 1,x.shape[1]))
x_test = np.reshape(x_t, (x_t.shape[0], 1,x_t.shape[1]))
# y_train = np.reshape(y, (y.shape[0], 1,y.shape[1]))
y_train = y
y_test = np.reshape(y_t, (y_t.shape[0], 1,y_t.shape[1]))

In [27]:
# y_train = y.reshape(500,-1)

In [28]:
# x_test = df[2].values[500:].reshape(47,-1)

In [29]:
# y_test = df[1].values[500:].reshape(47,-1)

In [30]:
from keras.models import Sequential
from keras.layers import Dense,LSTM

Using TensorFlow backend.

In [31]:
model = Sequential()

In [32]:
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(1,1),stateful=True,batch_size=1))
model.add(LSTM(100,return_sequences=False,stateful=True))
model.add(Dense(1, activation='linear'))

In [33]:
model.compile(loss='mean_squared_error', optimizer='adam')

In [34]:
model.fit(x_train, y_train,epochs=100,verbose=2,batch_size=1,shuffle=False)

Epoch 1/100
8s - loss: 0.0131
Epoch 2/100
6s - loss: 0.0076
Epoch 3/100
6s - loss: 0.0078
Epoch 4/100
6s - loss: 0.0075
Epoch 5/100
6s - loss: 0.0077
Epoch 6/100
6s - loss: 0.0074
Epoch 7/100
6s - loss: 0.0084
Epoch 8/100
6s - loss: 0.0062
Epoch 9/100
6s - loss: 0.0085
Epoch 10/100
6s - loss: 0.0054
Epoch 11/100
6s - loss: 0.0052
Epoch 12/100
6s - loss: 0.0059
Epoch 13/100
6s - loss: 0.0046
Epoch 14/100
6s - loss: 0.0045
Epoch 15/100
6s - loss: 0.0051
Epoch 16/100
6s - loss: 0.0055
Epoch 17/100
6s - loss: 0.0052
Epoch 18/100
6s - loss: 0.0050
Epoch 19/100
6s - loss: 0.0051
Epoch 20/100
6s - loss: 0.0049
Epoch 21/100
6s - loss: 0.0048
Epoch 22/100
6s - loss: 0.0048
Epoch 23/100
6s - loss: 0.0048
Epoch 24/100
6s - loss: 0.0047
Epoch 25/100
6s - loss: 0.0047
Epoch 26/100
6s - loss: 0.0046
Epoch 27/100
6s - loss: 0.0048
Epoch 28/100
6s - loss: 0.0044
Epoch 29/100
6s - loss: 0.0040
Epoch 30/100
6s - loss: 0.0039
Epoch 31/100
6s - loss: 0.0036
Epoch 32/100
6s - loss: 0.0034
Epoch 33/100
6s - loss: 0.0031
Epoch 34/100
6s - loss: 0.0030
Epoch 35/100
6s - loss: 0.0028
Epoch 36/100
6s - loss: 0.0026
Epoch 37/100
6s - loss: 0.0026
Epoch 38/100
6s - loss: 0.0024
Epoch 39/100
6s - loss: 0.0023
Epoch 40/100
6s - loss: 0.0022
Epoch 41/100
6s - loss: 0.0022
Epoch 42/100
6s - loss: 0.0021
Epoch 43/100
6s - loss: 0.0019
Epoch 44/100
7s - loss: 0.0018
Epoch 45/100
7s - loss: 0.0017
Epoch 46/100
6s - loss: 0.0016
Epoch 47/100
6s - loss: 0.0016
Epoch 48/100
6s - loss: 0.0016
Epoch 49/100
6s - loss: 0.0016
Epoch 50/100
6s - loss: 0.0016
Epoch 51/100
6s - loss: 0.0015
Epoch 52/100
6s - loss: 0.0015
Epoch 53/100
6s - loss: 0.0015
Epoch 54/100
6s - loss: 0.0015
Epoch 55/100
7s - loss: 0.0015
Epoch 56/100
8s - loss: 0.0015
Epoch 57/100
7s - loss: 0.0014
Epoch 58/100
7s - loss: 0.0015
Epoch 59/100
6s - loss: 0.0015
Epoch 60/100
7s - loss: 0.0015
Epoch 61/100
7s - loss: 0.0014
Epoch 62/100
7s - loss: 0.0015
Epoch 63/100
6s - loss: 0.0015
Epoch 64/100
6s - loss: 0.0016
Epoch 65/100
6s - loss: 0.0016
Epoch 66/100
6s - loss: 0.0015
Epoch 67/100
6s - loss: 0.0016
Epoch 68/100
6s - loss: 0.0021
Epoch 69/100
6s - loss: 0.0036
Epoch 70/100
6s - loss: 0.0022
Epoch 71/100
6s - loss: 0.0018
Epoch 72/100
6s - loss: 0.0020
Epoch 73/100
6s - loss: 0.0023
Epoch 74/100
6s - loss: 0.0027
Epoch 75/100
6s - loss: 0.0033
Epoch 76/100
7s - loss: 0.0042
Epoch 77/100
7s - loss: 0.0026
Epoch 78/100
7s - loss: 0.0023
Epoch 79/100
7s - loss: 0.0024
Epoch 80/100
7s - loss: 0.0022
Epoch 81/100
6s - loss: 0.0022
Epoch 82/100
6s - loss: 0.0020
Epoch 83/100
6s - loss: 0.0016
Epoch 84/100
6s - loss: 0.0016
Epoch 85/100
7s - loss: 0.0016
Epoch 86/100
7s - loss: 0.0017
Epoch 87/100
6s - loss: 0.0018
Epoch 88/100
7s - loss: 0.0019
Epoch 89/100
7s - loss: 0.0024
Epoch 90/100
8s - loss: 0.0024
Epoch 91/100
7s - loss: 0.0044
Epoch 92/100
7s - loss: 0.0024
Epoch 93/100
6s - loss: 0.0028
Epoch 94/100
6s - loss: 0.0027
Epoch 95/100
6s - loss: 0.0023
Epoch 96/100
7s - loss: 0.0028
Epoch 97/100
7s - loss: 0.0027
Epoch 98/100
7s - loss: 0.0020
Epoch 99/100
6s - loss: 0.0018
Epoch 100/100
6s - loss: 0.0021

In [35]:
prediction = model.predict(x_test,batch_size=1)

In [36]:
print prediction

[[ 0.43309841]
 [ 0.45526093]
 [ 0.45759961]
 [ 0.42275169]
 [ 0.46540916]
 [ 0.41832125]
 [ 0.44514912]
 [ 0.41613474]
 [ 0.43334144]
 [ 0.40292382]
 [ 0.39680421]
 [ 0.32994652]
 [ 0.36953735]
 [ 0.34224612]
 [ 0.34181315]
 [ 0.32076353]
 [ 0.35191995]
 [ 0.31360221]
 [ 0.34229064]
 [ 0.30168515]
 [ 0.31941891]
 [ 0.28814679]
 [ 0.32230553]
 [ 0.26411864]
 [ 0.31178877]
 [ 0.33533019]
 [ 0.37641549]
 [ 0.3232469 ]
 [ 0.35658851]
 [ 0.35001364]
 [ 0.33997962]
 [ 0.32224753]
 [ 0.31815034]
 [ 0.30078182]
 [ 0.30374739]
 [ 0.31690165]
 [ 0.31250161]
 [ 0.3065002 ]
 [ 0.33042797]
 [ 0.31294128]
 [ 0.29925254]
 [ 0.30371031]
 [ 0.30194271]
 [ 0.27592063]
 [ 0.31307665]
 [ 0.31555566]
 [ 0.30868763]]

              0      1      2
0    2015-01-04  124.0  123.0
1    2015-01-05  123.0  124.0
2    2015-01-06  120.0  123.0
3    2015-01-07  124.0  120.0
4    2015-01-08  123.0  124.0
5    2015-01-11  125.0  123.0
6    2015-01-12  124.0  125.0
7    2015-01-13  125.0  124.0
8    2015-01-14  126.0  125.0
9    2015-01-18  126.0  126.0
10   2015-01-19  128.0  126.0
11   2015-01-20  125.0  128.0
12   2015-01-22  125.0  125.0
13   2015-01-25  126.0  125.0
14   2015-01-26  125.0  126.0
15   2015-01-27  128.0  125.0
16   2015-01-28  127.0  128.0
17   2015-01-29  127.0  127.0
18   2015-02-01  127.0  127.0
19   2015-02-02  125.0  127.0
20   2015-02-03  126.0  125.0
21   2015-02-04  127.0  126.0
22   2015-02-05  125.0  127.0
23   2015-02-08  127.0  125.0
24   2015-02-09  125.0  127.0
25   2015-02-10  124.0  125.0
26   2015-02-11  125.0  124.0
27   2015-02-12  124.0  125.0
28   2015-02-15  123.0  124.0
29   2015-02-16  125.0  123.0
..          ...    ...    ...
517  2017-04-27  143.0  142.0
518  2017-04-30  140.0  143.0
519  2017-05-02  140.0  140.0
520  2017-05-03  138.0  140.0
521  2017-05-04  140.0  138.0
522  2017-05-07  133.0  140.0
523  2017-05-08  138.0  133.0
524  2017-05-09  143.0  138.0
525  2017-05-11  146.0  143.0
526  2017-05-15  141.0  146.0
527  2017-05-16  145.0  141.0
528  2017-05-17  146.0  145.0
529  2017-05-18  144.0  146.0
530  2017-05-21  143.0  144.0
531  2017-05-22  141.0  143.0
532  2017-05-23  140.0  141.0
533  2017-05-24  139.0  140.0
534  2017-05-28  142.0  139.0
535  2017-05-30  140.0  142.0
536  2017-05-31  140.0  140.0
537  2017-06-01  142.0  140.0
538  2017-06-04  140.0  142.0
539  2017-06-05  138.0  140.0
540  2017-06-06  139.0  138.0
541  2017-06-07  138.0  139.0
542  2017-06-08  135.0  138.0
543  2017-06-11  139.0  135.0
544  2017-06-12  139.0  139.0
545  2017-06-13  138.0  139.0
546  2017-06-14  135.0  138.0

[547 rows x 3 columns]

In [366]:
from sklearn.metrics import mean_squared_error

In [368]:
# rmse = np.sqrt(mean_squared_error(prediction,y_test))
prediction = prediction.reshape(47,1)

In [369]:
rmse = np.sqrt(mean_squared_error(prediction,y_test))

ValueError: Found array with dim 3. Estimator expected <= 2.

In [375]:
p = prediction.reshape(-1,47)

In [378]:
rmse = np.sqrt(mean_squared_error(p.reshape(47,1),(y_test.reshape(-1,47).reshape(47,1))))

In [379]:
print rmse

23.2507358966